.app {
  padding: 15px;
  text-align: left;
}

.header .welcome {
  font-size: 20px;
  margin-bottom: 15px;
}

.line {
  min-height: 15px;
}

.line.split {
  display: flex;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

button {
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 0 3px;
  border: 0;
  height: 13px;
  line-height: 14px;
}

button:hover {
  background-color: #444;
}

.bold {
  font-weight: bold;
}

.user {
  color: #4eff05;
  width: 152px;
}

.input {
  color: #fff;
  border: 0;
  font-size: 13px;
  padding: 0;
  text-transform: lowercase;
  background-color: transparent;
}

.result {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-left {
  width: 100px;
  text-align: right;
  margin-right: 15px;
}

.flex-right {
  flex: 1;
}