.app {
  padding: 10px;
  text-align: left;
}

.header .welcome {
  font-size: 22px;
  margin-bottom: 15px;
}

.line {
  min-height: 15px;
}

.line.split {
  display: flex;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

button {
  cursor: pointer;
  background-color: #444;
  color: white;
  padding: 0 3px;
  border: 0;
  height: 14px;
  line-height: 14px;
}

button:hover {
  background-color: #444;
}

.bold {
  font-weight: bold;
}

.user {
  color: #4eff05;
  width: 152px;
}

.inputHolder {
  width: 150px;
  margin-left: 10px;
}

.input {
  color: #fff;
  border: 0;
  font-size: 13px;
  padding: 0;
  text-transform: lowercase;
  background-color: transparent;
  width: 100%;
}

.result {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-left {
  width: 72px;
  text-align: right;
  margin-right: 15px;
}

.flex-right {
  flex: 1;
}

.game-board {
  border-collapse: collapse;
}

.game-block {
  margin: 0;
  padding: 0;
  width: 21px;
  height: 19px;
  border: 1px solid #ddd;
}
.piece-i {
  background-color: #ec858b;
}
.piece-j {
  background-color: #f1b598;
}
.piece-l {
  background-color: #f8efae;
}
.piece-o {
  background-color: #b5a677;
}
.piece-s {
  background-color: #816e56;
}
.piece-t {
  background-color: #b77c72;
}
.piece-z {
  background-color: #e3be58;
}
.piece-preview {
  background-color: #eee;
}