.app {
  padding: 15px;
  text-align: left;
  font-size: 13px;
  height: 100%;
}

.header {
  margin-bottom: 20px;
}

.header .welcome {
  font-size: 20px;
  margin-bottom: 20px;
}

span {

}

.line {
  min-height: 15px;
  line-height: 18px;
}

.line.split {
  display: flex;
}

.user {
  color: #4eff05;
  margin-right: 7px;
}

.input {
  color: #fff;
  border: 0;
  background-color: #000;
  width: 300px;
  font-size: 13px;
  padding: 0;
}

.result {
  margin: 12px 0;
}