.app {
  padding: 15px;
  text-align: left;
  font-size: 13px;
  height: 100%;
}

.header {
  margin-bottom: 20px;
}

.header .welcome {
  font-size: 20px;
  margin-bottom: 20px;
}

a {
  color: #fffc20
}

.line {
  min-height: 15px;
  line-height: 18px;
}

.line.split {
  display: flex;
}

.user {
  color: #4eff05;
  width: 156px;
}

.input {
  color: #fff;
  border: 0;
  background-color: #000;
  font-size: 13px;
  padding: 0;
  text-transform: lowercase;
}

.result {
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
}