html, body {
  width: 100%;
  margin: 0;
}

body {
  color: white;
  background-color: black;
}

::selection {
  background: #db1734;
  color: #FFFFFF;
}

* {
  font-family: 'Courier New', Consolas, monospace;
  outline: none;
  box-sizing: border-box;
}

html, body, #root, .app {
  height: 100%;
}